<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <config>
        <!--
            Legacy csproj:
                packages.config :
                    -"nuget.exe restore"            => NuGets are in packages folder and global cache folder
                    -"msbuild /restore"             => does nothing (even if the cache is empty)
                PackageReference :
                    -"nuget.exe restore"            => NuGets are in global cache folder only
                    -"msbuild /restore"             => NuGets are in global cache folder only
            Sdk csproj:
                PackageReference :
                    -"nuget.exe restore"            => NuGets are in global cache folder only
                    -"msbuild /restore"             => NuGets are in global cache folder only
                    
            Summary:
                If the solution contains mixing packages.config and PackageReference projects, use "nuget.exe restore"
                If the solution contains only PackageReference projects, use "msbuild /restore"
        -->

        <!-- packages.config -->
        <add key="repositoryPath" value="%USERPROFILE%\.nuget\packages\" />

        <!-- PackageReference, the environment variable NUGET_PACKAGES overrides this value -->
        <add key="globalPackagesFolder" value="%USERPROFILE%\.nuget\PackRef\" />
    </config>

    <solution>
        <!-- Ignore packages folder in source control -->
        <add key="disableSourceControlIntegration" value="true" />
    </solution>

    <packageRestore>
        <!-- Allow to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Check for missing packages while building in VS -->
        <add key="automatic" value="True" />
    </packageRestore>

    <packageManagement>
         <!-- 0=packages.config, 1=PackageReference -->
        <add key="format" value="1" />

         <!-- True=prompt the user for the format to use, False=do not prompt and use the 'format' above -->
        <add key="disabled" value="False" />
    </packageManagement>

    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>

    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>

    <disabledPackageSources/>
</configuration>