<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.19.4" targetFramework="net40" requireReinstallation="true" />
  <package id="NUnit" version="3.9.0" targetFramework="net462" />
  <package id="Unity.Abstractions" version="2.3.1" targetFramework="net462" />
  <package id="Unity.Configuration" version="5.1.0" targetFramework="net462" />
  <package id="Unity.Container" version="5.3.2" targetFramework="net462" />
</packages>