<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="log4net" value=".\Config\log4net.config" />

    <add key="acceptor_enabled" value="false" />
    <add key="acceptor_settings" value=".\Config\acceptor.ini" />

    <add key="initiator_enabled" value="true" />
    <add key="initiator_settings" value=".\Config\initiator.ini" />
  </appSettings>
</configuration>
