<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <appSettings>
    <add key="base" value="ioc.base.config" />
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <container>
      <instance name="MessageHandlerName" value="DefaultMessageHandler" type="string" />

      <register type="AxFixEngine.Interfaces.IFixMessageHandler, AxFixEngine"
                mapTo="AxFixServer.FixMessageHandler, AxFixServer">
        <constructor>
          <param name="name" dependencyName="MessageHandlerName"/>
        </constructor>
      </register>

      <register type="AxFixEngine.Interfaces.IFixConnectorFactory, AxFixEngine"
                mapTo="AxFixEngine.FixConnectorFactory, AxFixEngine">
        <lifetime type="singleton"/>
      </register>

      <register type="AxCommonLogger.Interfaces.ILoggerFacadeFactory, AxCommonLogger"
                mapTo="AxCommonLogger.Factories.Log4netLoggerFacadeFactory, AxCommonLogger">
        <lifetime type="singleton"/>
      </register>
      
    </container>

  </unity>

</configuration>
