<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <appSettings>
    <add key="base" value="unity.dev.config" />
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <container>
      <!--Dictionary with few data inside-->
      <register type="System.Collections.Generic.IDictionary[,], mscorlib"
                mapTo="System.Collections.Generic.Dictionary[string,int], mscorlib"
                name="MyDictionary">
        <method name="Add" >
          <param name="key" value="test1"/>
          <param name="value" value="100"/>
        </method>
        <method name="Add" >
          <param name="key" value="test2"/>
          <param name="value" value="200"/>
        </method>
      </register>

      <!--List with few data inside-->
      <register type="System.Collections.Generic.IList[], mscorlib"
                mapTo="System.Collections.Generic.List[string], mscorlib"
                name="MyList">
        <method name="Add" >
          <param name="item" value="test1"/>
        </method>
        <method name="Add" >
          <param name="item" value="test2"/>
        </method>
      </register>
    </container>
    
    <container name="Loggers">
      <register name="Logger"
                type="AxConfiguration.UnitTests.Test.Logger.Interfaces.ILogger, AxConfiguration.UnitTests"
                mapTo="AxConfiguration.UnitTests.Test.Logger.Implementations.ConsoleLogger, AxConfiguration.UnitTests">
        <lifetime type="singleton" />
        <constructor>
          <param name="loggerName" dependencyName="LoggerName"/>
        </constructor>
      </register>
    </container>

  </unity>

</configuration>