<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <appSettings>
    <add key="base" value="unity.dev.config" />
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <container>
      <register name="DefaultLogger"
                type="AxConfiguration.UnitTests.Test.Logger.Interfaces.ILogger, AxConfiguration.UnitTests"
                mapTo="AxConfiguration.UnitTests.Test.Logger.Implementations.ConsoleLogger, AxConfiguration.UnitTests">
        <lifetime type="singleton" />
        <constructor>
          <param name="loggerName" dependencyName="DefaultLoggerName"/>
        </constructor>
      </register>
      
    </container>

    <container name="Loggers">
      <register name="Logger"
                type="AxConfiguration.UnitTests.Test.Logger.Interfaces.ILogger, AxConfiguration.UnitTests"
                mapTo="AxConfiguration.UnitTests.Test.Logger.Implementations.ConsoleLogger, AxConfiguration.UnitTests">
        <lifetime type="singleton" />
        <constructor>
          <param name="loggerName" dependencyName="LoggerName"/>
        </constructor>
      </register>
    </container>

  </unity>

</configuration>