<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <appSettings>
    <add key="base" value="unity.base.config" />
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <container>
      <instance name="DefaultLoggerName" value="def_logger"/>
      <instance name="DefaultLoggerFileName" value="FakeDefLogFile.log"/>
      <instance name="DefaultTimeStampFormat" value="DEF yyyy-MM-dd HH:mm:ss"/>
    </container>

    <container name="Loggers">
      <instance name="LoggerName" value="my_logger"/>
      <instance name="LoggerFileName" value="FakeLogFile.log"/>
      <instance name="TimeStampFormat" value="yyyy-MM-dd HH:mm:ss"/>
    </container>

  </unity>

</configuration>
