<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <appSettings>
    <add key="base" value="unity.common.config" />
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <container>
      <register name="Logger"
                type="AxConfiguration.UnitTests.Test.Logger.Interfaces.ILogger, AxConfiguration.UnitTests"
                mapTo="AxConfiguration.UnitTests.Test.Logger.Implementations.FileLogger, AxConfiguration.UnitTests">
        <lifetime type="singleton" />
        <constructor>
          <param name="loggerName" dependencyName="DefaultLoggerName"/>
          <param name="logFileName" dependencyName="DefaultLoggerFileName"/>
          <param name="timeStampFormat" dependencyName="DefaultTimeStampFormat"/>
        </constructor>
      </register>
    </container>

    <container name="Loggers">
      <register name="Logger"
                type="AxConfiguration.UnitTests.Test.Logger.Interfaces.ILogger, AxConfiguration.UnitTests"
                mapTo="AxConfiguration.UnitTests.Test.Logger.Implementations.FileLogger, AxConfiguration.UnitTests">
        <lifetime type="singleton" />
        <constructor>
          <param name="loggerName" dependencyName="LoggerName"/>
          <param name="logFileName" dependencyName="LoggerFileName"/>
          <param name="timeStampFormat" dependencyName="TimeStampFormat"/>
        </constructor>
      </register>
    </container>

  </unity>
  
</configuration>
